@font-face {
  font-family: "iconfont"; /* Project id 4187776 */
  src: url('//at.alicdn.com/t/c/font_4187776_9amiz5ub8id.woff2?t=1690795711010') format('woff2'),
       url('//at.alicdn.com/t/c/font_4187776_9amiz5ub8id.woff?t=1690795711010') format('woff'),
       url('//at.alicdn.com/t/c/font_4187776_9amiz5ub8id.ttf?t=1690795711010') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-exchange:before {
  content: "\e600";
}

.icon-sun:before {
  content: "\e668";
}
