$common-header-height: 70px;
$layout-header-height: 60px;
$container-width: 1200px;
$inset-padding: 30px;
$ant-menu-item-font-size: 16px;
$body-bgc: #f1f3f4;
$gray-1: #333333;
$gray-2: #666666;
$gray-3: #999999;